.items-list {
    padding-right: 29px /* velikost ikonky */;
    padding-left: 0;
    list-style: url(../Avatars/avatar1.jpg);
}

.items-list__text::before {
    content: url(../icons/icon_tick-mark.svg);
    position: relative;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}

/* navbar */

.navbar__items {
    display: flex;
    padding: 0.75rem 1rem;    
    position: relative; 
    z-index: 1;
    background-color: var(--color-prim-white);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar__items--top {
    background-color: var(--color-sec-light-gray);
    padding: 1rem 0;
    z-index: 2; /*nové menu*/
}

.navbar__item--top:not(:last-child) {
    border-right: 1px solid var(--color-sec-dark-gray);
}

.navbar__item--top {
    display: flex;
    justify-content: center;
    flex-basis: calc(100% / 3);
    flex-grow: 1;
    font-size: 0;
    color: var(--color-prim-black);
    font-weight: var(--font-weight-bold);
    align-items: center;
}

.navbar__item--bottom {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    z-index: 2; /*nové menu*/
}

[class*="navbar__item--icon-"]::before {
    display: block;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    transform: scale(1);
    transition: ease .5s;
}

.navbar__item--icon-phone::before {
    background-image: url(../icons/icon_phone.svg);
}

.navbar__item--icon-email::before {    
    background-image: url(../icons/icon_email.svg);
}

.navbar__item--icon-profile::before {
    background-image: url(../icons/icon_profile.svg);
}

[class*="navbar__item--icon-"]:hover::before {
    transform: scale(1.25);
    transition: 1s;
}














.btn {
    background-color: var(--color-prim-orange);
    padding: 9px 18px;
    border-radius: 22.5px;
    color: var(--color-prim-white);
    font-size: calc(0.9 * var(--font-text-7));
    min-width: max-content;
    font-weight: var(--font-weight-bold);
    display: inline-block;
    border: 4px solid var(--color-prim-orange);
}

.btn:hover {
    background-color: var(--color-sec-medium-blue);
    border: 4px solid var(--color-sec-medium-blue);
}

.btn--reverse-colors {
    background-color: var(--color-prim-white);
    color: var(--color-prim-dark-blue);
}

.btn--reverse-colors:hover {
    background-color: white;
    border: 4px solid var(--color-sec-medium-blue);
}



/* hamburger menu */



/* HEADER*/



/* NAVBAR */
.navbar__menu-item {
    list-style: none;
    border-bottom: 1px solid var(--color-prim-white);
}

.navbar__menu-item:last-of-type {
    border-bottom: none;
}

.navbar__menu-link {
    color: var(--color-prim-white);
    padding: 1rem;
    font-size: calc(0.8 * var(--font-text-6));
}

.navbar__menu-link:hover {
    color: var(--color-prim-dark-blue);
    background-color: var(--color-sec-light-blue);
}

.navbar__logo{
    background-image: url(../logos/logo_logoipsum-main.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    width: 170px;
    height: 40px;
    z-index: 2; /*nové menu*/
}

.navbar__logo:hover {
    background-image: url(../logos/logo_logoipsum-main-hover.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    width: 170px;
    height: 40px;
}

.icon-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    grid-gap: .5rem;
    width: 85vw;
    max-width: 500px;
    margin: 2rem auto;
    padding: 1rem;
    container-type: inline-size;
    container-name: icon-box;
}

.icon-box__link img {
    transform: scale(0.75);
}

.icon-box__link {
    background-color: var(--color-prim-dark-blue);
    width: 93px;
    height: 93px;
    margin: 0 auto;
    border-radius: 50%;
    transform: scale(1);
    transition: ease .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box__link:hover {
    transform: scale(1.1);
    transition: 1s;
}

.icon-box__text {
    font-size: calc( 0.75 * var(--font-text-4));
    margin: 1rem auto;
    max-width: 300px;
    margin-bottom: 2rem;
    background-color: inherit;
    font-weight: var(--font-weight-bold);
    margin-inline: 1rem;
}

@media screen and (max-width: 460px) {
    .navbar__logo{
        background-image: url(../logos/logo_logoipsum-reduced.svg);
        background-repeat: no-repeat;
        background-origin: content-box;
        width: 40px;
        height: 40px;
        display: inline-block;
        transition: 1s;
        z-index: 1;
    }
    
    .navbar__logo:hover {
        background-image: url(../logos/logo_logoipsum-reduced-hover.svg);
        background-repeat: no-repeat;
        background-origin: content-box;
        width: 40px;
        height: 40px;
        z-index: 2;
        transition: 1s;
    }
}


.contact-list-box__link-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

[class*="contact-list-box__link--icon-"]::before {
    display: block;
    content: "";
    width: calc(0.9 * var(--font-text-7));
    height: calc(0.9 * var(--font-text-7));
    padding: 0 .5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
}

.contact-list-box__link--icon-phone::before {
    background-image: url(../icons/icon_phone.svg);
}

.contact-list-box__link--icon-email::before {
    background-image: url(../icons/icon_email.svg);
}

.contact-list-box__link--icon-linkedin::before {
    background-image: url(../icons/icon_linkedin.svg);
    padding-right: .5rem;
}

.contact-list-box__link--icon-youtube::before {
    background-image: url(../icons/icon_youtube.svg);
    padding: .2rem 0 0 .5rem;
}

/*nové menu*/

.navbar__items--bottom {
    height: 48px;
}

.navbar__items--bottom::before {
    content: "";
    display: block;
    background-color: var(--color-prim-white);
    z-index: 1;
    margin: 0 -1rem;
    height: 72px;
    width: 100%;
    position: absolute;
}
.individual-page-box {
    margin: 0 2rem;
}


.map {
    height: 100%;
    width: 100%;
    display: block;
    margin: 2rem auto;
}

.map-box {
    margin: 0;
    height: 360px;
    margin-top: 3rem;
    padding-bottom: 1rem;
}

.function-container-wrapper {
    position: relative;
}

.function-container-wrapper::before {
    content: "";
    position: absolute;
    width: 5rem;
    top: 0;
    bottom: 1.5rem;
    right: 0;
    z-index: 2;
}

.function-container-wrapper::after {
    content: "";
    position: absolute;
    width: 5rem;
    top: 0;
    bottom: 1.5rem;
    left: 0;
    z-index: 2;
}

.function-container-wrapper--verylightblue-linear-gradient::before {
    background-image: linear-gradient(90deg, transparent, var(--color-sec-very-light-blue));    
}

.function-container-wrapper--verylightblue-linear-gradient::after {
    background-image: linear-gradient(90deg, var(--color-sec-very-light-blue), transparent);    
}

.function-container-wrapper--mediumgray-linear-gradient::before {
    background-image: linear-gradient(90deg, transparent, var(--color-sec-very-light-gray));    
}

.function-container-wrapper--mediumgray-linear-gradient::after {
    background-image: linear-gradient(90deg, var(--color-sec-very-light-gray), transparent);    
}


@media screen and (min-width: 360px) {
.icon-box {
    grid-gap: 1rem;
    width: 75vw;
}
}


@media screen and (min-width: 640px) {
    .navbar__item--top {
        font-size: var(--font-text-8);
        gap: .5rem;
    }

    .navbar__item--top:hover {
        color: var(--color-sec-medium-blue);
    }

    [class*="navbar__item--icon-"]::before {
        width: 1rem;
        height: 1rem;
    }

    [class*="navbar__item--icon-"]:hover::before {
        transform: scale(1);
    }

    .footer__main {
        grid-template-columns: repeat(2, max-content);
        width: 520px;
        justify-content: space-between;
    }

    .main-page-section__heading {
        font-size: calc(0.9 * var(--font-heading-1));
    }
    
    .main-page-section__subheading {
        font-size: calc(0.9 * var(--font-heading-2));
    }

    .individual-page-section__heading {
        font-size: calc(0.9 * var(--font-heading-2));
    }

    .individual-page-section__subheading {
        font-size: calc(0.9 * var(--font-heading-3));
    }

    .main-page-box__text, .icon-box__text, .rating-box__heading, .actuality-box__heading, .function-list-container__text, .function-list-box__text, [class*="contact-list-box__"] {
        font-size: var(--font-text-4);
    }

    .items-list__text, .btn, .text, .actuality-box, .actuality-box__text, .footer-box [class*="contact-list-box__"], .footer-box__text, .footer-box__link {
        font-size: var(--font-text-7);
    }

    .story-box__heading {
        font-size: calc(0.9 * var(--font-heading-4));
    }

    .function-box__heading {
        font-size: var(--font-text-5);
    }

    .rating-box__text--job {
        font-size: var(--font-text-8);
    }

    [class*="contact-list-box__link--icon-"]::before {
        width: var(--font-text-7);
        height: var(--font-text-7);
    }

    .footer-box__heading {
        font-size: var(--font-text-2);
    }

    .navbar__menu-link {
        font-size: calc(0.8 * var(--font-text-6));
    }

    .feedback-box__text {
        font-size: var(--font-text-3);
    }

    .feedback-box__link{
        font-size: calc(0.9 * var(--font-text-1));
    }
}

@media screen and (min-width: 768px) {
    .navbar__item--top {
        flex-basis: auto;
        gap: .5em;
        flex-grow: 0;
        justify-content: flex-start;
    }

    .navbar__item--right {
        flex-grow: 1;
        justify-content: end;
    }

    .navbar__item--top:nth-child(2)  {
        border: 0;
    }

    .navbar__items {
        padding-inline: 2rem;
        gap: 1rem;
    }

    .navbar__item--top:nth-child(1)  {
        padding-right: 1rem;
    }

    /*nové menu*/

    
    .hamburger-menu-list {
        padding-right: .8rem;
    } 

    .navbar__logo{
        background-image: url(../logos/logo_logoipsum-reduced.svg);
        background-repeat: no-repeat;
        background-origin: content-box;
        width: 40px;
        height: 40px;
        display: inline-block;
        transition: 1s;
        z-index: 1;
    }
    
    .navbar__logo:hover {
        background-image: url(../logos/logo_logoipsum-reduced-hover.svg);
        background-repeat: no-repeat;
        background-origin: content-box;
        width: 40px;
        height: 40px;
        z-index: 2;
        transition: 1s;
    }

    .navbar__logo{
        flex-grow: 1;
    }
    
    .navbar__logo:hover {
        flex-grow: 1;
    }    

    .navbar__items--bottom {
        height: 48px;
        padding-inline: 2rem;
        gap: 1.6rem;
    }

    .navbar__items--bottom::before {
        content: none;
    }

    .navbar__item--bottom {
        order: 1;
    }

    .navbar__menu-link {
        color: var(--color-prim-black);
        height: 32px;
        box-sizing: border-box;
        padding: 0.3rem .8rem;
    }

    .navbar__menu-link:hover {
        color: var(--color-sec-medium-blue);
        background-color: var(--color-prim-white);
    }

    .navbar__menu-link--underline {
        position: relative;
    }

    .navbar__menu-link--underline:after{
        position: absolute;
        z-index: 1;
        content: "";
        top: 1.5rem;
        left: 50%;
        height: .25rem;
        width: 0;
        background-color: transparent;
        transition: all .2s ease;
    }

    .navbar__menu-link:hover .navbar__menu-link--underline:after{
        width: 100%;
        display: inline-block;
        background-color: var(--color-prim-orange);
        left: 0;
    }

    .main-page-container {
        display: grid;
        grid-template-columns: 400px 1fr;
        max-width: 720px;
        margin: 0 auto;
        align-items: center;
    }

    .main-page-box * {
        text-align: left;
        margin-inline: 0;
    }

    .main-page-box__text {
        padding-inline: 0;
    }

    .main-page-section__heading {
        grid-column: 1 / span 2;
        padding-top: 4rem;
    }

    .main-page-box {
        margin-bottom: 1rem;
        order: 1;
    }

    .picture-box {
        padding: 2rem;
        margin: 0;
    }

    .picture-box--full-width {
        padding: 0;
        padding-right: 2rem;
        flex-basis: 0;
        flex-grow: 1;
    }

    .picture-box--full-width .picture {
        border-radius: .5rem;
    }

    .icon-box {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1500px;
        width: auto;
        padding-inline: 2rem;
    }

    .story-container {
        display: flex;
        align-items: center;
        max-width: 976px;
        margin: 0 auto;
        gap: 3rem;
    }

    .story-box {
        margin-inline: 0;
        margin-bottom: 1rem;
        flex-basis: 325px;
    }

    .story-box *:not(.btn-cta) {
        text-align: left;
        margin-left: 2rem;
    }

    .function-container {
        margin-inline: 2rem;
        padding-inline: 2rem;
    }      

    .actuality-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        flex-direction: row;
        padding-inline: 1rem;
        gap: 1rem;
    }

    .actuality-box {
        flex-basis: 0;
        flex-grow: 1;
        margin: 0 1rem 0rem;
    }

    /* funkce */

    .function-container-wrapper::before {
        right: 2rem;
    }
    
    .function-container-wrapper::after {
        left: 2rem;
    }

    /* kotakt */

    .map {
        border-radius: 1rem;
    }

    .map-box {
        margin-inline: 2rem;
        height: 480px;
    }
}

@media screen and (min-width: 880px) {
    .navbar__logo{
        background-image: url(../logos/logo_logoipsum-main.svg);
        width: 170px;
        height: 40px;
    }
    
    .navbar__logo:hover {
        background-image: url(../logos/logo_logoipsum-main-hover.svg);
        width: 170px;
        height: 40px;
    }

    .main-page-section__heading {
        max-width: none;
    }

    .main-page-container {
        max-width: 860px;
        grid-template-columns: 500px 1fr;
        padding-inline: 3rem;
    }

}

@media screen and (min-width: 961px) {
    .navbar__items, .footer {
        padding-inline: 4rem;
    }

    .actuality-container {
        padding-inline: 3rem;
    }

    .individual-page-box, .individual-page-section__header, .story-container {
        padding-inline: 2rem;
    }

    .individual-page-section--margin {
        padding-inline: 2rem;
    }

    .icon-box {
        padding-inline: 3rem;
    }

    .function-container-wrapper {
        margin-inline: 2rem;
    }

    .footer__main {
        grid-template-columns: repeat(4, max-content);
        max-width: none;
        width: auto;
    }

    .footer__main * {
        text-align: left;
        margin-left: 0;
    }

    .footer-box [class*="contact-list-box__"] {
        justify-content: left;
    }
}

@media screen and (min-width: 1040px) {
    .picture-box--full-width {
        padding: 0;
        flex-grow: 0;
        flex-basis: 484px;
    }

    .story-box {
        flex-grow: 1;
        flex-basis: 0;
    }

    .navbar__menu-link {
        padding-inline: 1rem;
    }

    .hamburger-menu-list {
        gap: .5rem;
    }

    .navbar__items--bottom {
        gap: 2.5rem;
    }


    .hamburger-menu-list {
        padding-right: 1.5rem;
    }


    .individual-page-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4rem;
        gap: 3rem;
        padding-top: 4rem;
    }

    .individual-page-box {
        padding: 0;
        order: 1;
        margin: 0;
        margin-bottom: 3rem;
        width: max-content;
    }

    .map-box {
        padding: 0;
        margin: 0;
        flex-grow: 1;
        order: 0;
        width: auto;
    }

    .map {
        border: 0;
        margin: 0;
    }

    .logo-container {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .logo-box--up {
        justify-content: end;
        width: max-content;
    }

    .logo-box--down {
        justify-content: start;
        width: max-content;
    }
}

@media screen and (min-width: 1281px) {
    .main-page-container {
        max-width: 1312px;
        grid-template-columns: 1fr 672px;
        grid-column-gap: 3rem;
        padding-top: 4rem;
        padding-inline: 8rem;
    }

    .main-page-section__heading {
        grid-column: 1;
        text-align: left;
        padding: 1rem 0 1rem 0;
        align-self: end;
    }

    .actuality-container {
        padding-inline: 7rem;
    }

    .main-page-box {
        order: 1;
        align-self: start;
    }

    .main-page-section__heading {
        font-size: var(--font-heading-1);
    }

    .individual-page-section__heading {
        font-size: var(--font-heading-2);
    }

    .individual-page-section__subheading {
        font-size: var(--font-heading-3);
    }

    .main-page-section__subheading {
        font-size: var(--font-heading-2);
    }

    .story-box__heading {
        font-size: var(--font-heading-4);
    }

    .feedback-box__link{
        font-size: var(--font-text-1);
    }

    .picture-box {
        padding: 0;
        margin: 0;
        grid-row: span 2;
    }

    .navbar__items, .footer {
        padding-inline: 8rem;
    }

    .icon-box {
        padding-inline: 7rem;
    }

    .function-container-wrapper {
        margin-inline: 6rem;
    }

    .rating-container {
        padding-inline: 5.5rem;
    }

    .individual-page-section__header {
        margin-inline: 6rem;
    }

    .individual-page-container {
        padding-inline: 8rem;
    }

    /* kontakt, funkce */


    .individual-page-section--margin  {
        margin-inline: 6rem;
    }
    
    .individual-page-section .function-container-wrapper {
        margin-inline: 6rem;
        container-type: inline-size;
        container-name: function-container-wrapper;
    }

    .main-page-section .function-container-wrapper {
        margin-inline: 6rem;
    }


    .section--mediumgray {
        background-color: var(--color-prim-white);
        padding-top: 0;
    }

    .individual-page-section .function-container-wrapper {
        background-color: var(--color-sec-very-light-gray);
        padding: 6rem;
        border-radius: 2rem;
    }

    .individual-page-section .function-container-wrapper::before {
        right: 8rem;
    }
    
    .individual-page-section .function-container-wrapper::after {
        left: 8rem;
    }

    .individual-page-section .function-container-wrapper::after, .individual-page-section .function-container-wrapper::before {
        bottom: 7.5rem;
    }

    .logo-container, .logo-box, .individual-page-container, .logo-container > div {
        gap: 4rem;
    }

}

@media screen and (min-width: 1340px) {
    .rating-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1856px) {
    .individual-page-section .function-container-wrapper {
        background-color: var(--color-prim-white);
    }

    .individual-page-container {
        padding-inline: 18rem;
    }

    .map-box {
        height: 520px;
    }

    .rating-container {
        padding-inline: 15.5rem;
    }

    .actuality-container {
        padding-inline: 17rem;
    }

    .main-page-section .function-container-wrapper {
        margin-inline: 16rem;
    }

    .individual-page-section .function-container {
        display: grid;
        justify-content: center;
        overflow: visible;
        gap: 2rem;
        grid-template-columns: repeat(4, 304px);
        max-width: calc(4 * (304px + 2rem) - 2rem);
        background-color: var(--color-sec-very-light-gray);
        padding: 6rem;
        border-radius: 2rem;
        margin-inline: auto;
    }

    .individual-page-section .function-container > article:first-child, .function-container > article:last-child {
        margin: 0;
    }

    .individual-page-section .function-box {
        margin-bottom: 0;
        width: auto;
    }
      
    .individual-page-section .function-container > article {
        margin-bottom: 0;
    }

    .individual-page-section .function-container-wrapper::before, .individual-page-section .function-container-wrapper::after {
        content: none;
    }

    .navbar__items, .footer {
        padding-inline: 18rem;
    }

    .icon-box {
        padding-inline: 17rem;
    }

    .individual-page-section__header, .individual-page-section--margin {
        margin-inline: 16rem;
    }

    .individual-page-section .function-container-wrapper {
        padding: 0;
    }
}

@container icon-box (min-width: 400px) {
    .icon-box__link {
        width: 124px;
        height: 124px;
    }

    .icon-box__link img {
        transform: scale(1);
    }

    .icon-box__text {
        font-size: calc(0.9 * var(--font-text-4));
    }
}

@container function-container-wrapper (min-width: calc(6 * (304px + 2rem) - 2rem + 2 * 6rem)) {
.individual-page-section .function-container {
    grid-template-columns: repeat(6, 304px);
    max-width: calc(6 * (304px + 2rem) - 2rem + 2 * 6rem);
}    
}




@media screen and (pointer: coarse) and (max-width: 1552px) /* CSS kód, který se má použít pouze pro dotyková zařízení */{    
    [class*="--arrow"] {
        position: relative;
    }
    
    [class*="--arrow"]::after /* dočasná šipka naznačující posun z důvodu, že neumíme ješzě nakódovat karusel*/{
        content: url(../icons/icon_black-arrow.svg);
        width: 24px;
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-page-section--arrow::after {
        bottom: 84px;
    }

    .individual-page-section--arrow::after {
        bottom: 6px;
    }
}

@media screen and (pointer: coarse) and (min-width: 1281px){
    .individual-page-section--arrow::after {
        bottom: 5rem;
    }
}