.section__heading {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: var(--prim-darkblue);
    font-weight: 800;
    margin: 0 auto;
    padding: 1em;
    text-align: center; 
    font-size: 2.25em;
}

.heading-h1 {
    font-size: 2.5em;
    max-width: 400px;
}

p, h1, h2, h3 {
    text-align: center;
    margin: 2em;
}

.items-list {
    text-align: center;
    padding-right: 29px;
    padding-left: 0;
    list-style: none;
}

.items-list_item::before {
    content: url(../icon_tick-mark.svg);
    position: relative;
    font-size: 1em;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}

.navbar_items {
    padding: 0.75em 1em;
    display: flex;
    position: relative; 
    z-index: 1;
    background-color: var(--prim-white);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-text {
    margin: 0.5em 2em;
    font-size: 14.25px;
    text-align: center;
}

.navbar_items__bottom-items {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.navbar_items__top-items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.navbar_items__top-items--right {
    justify-content: space-around;
    width: 60%;
}

.navbar-item--icon_phone::before {
    content: url(../icon_phone.svg);
    position: relative;
    font-size: 2em;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}

.navbar-item--icon_email::before {
    content: url(../icon_email.svg);
    position: relative;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}

.navbar-item--icon_profile::before {
    content: url(../icon_profile.svg);
    position: relative;
    font-size: 18px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}


.navbar-item--small {
    display: flex;
    font-size: 0;
    color: black;
    font-weight: 700;
    align-items: center;
}

.navbar_items--grey {
    background-color: var(--sec-lightgray);
    padding: 0.5em 1.5em;
}

.btn {
    background-color: var(--prim-orange);
    padding: 9px 18px;
    border-radius: 22.5px;
    color: var(--prim-white);
    font-size: 0.75em;
    font-weight: 700;
    display: inline-block;
}

.btn-box {
    text-align: center;
}

/* hamburger menu */

@media (max-width: 768px) {
    .navbar__menu.navbar__menu--hidden {
        transform: translateY(-100%);
    }
}
@media (min-width: 768px) {
    .navbar__hamburger {
        display: none;
    }
}

.navbar__menu {
    transition: transform .5s;
}

.navbar {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* hamburger menu */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-transform: uppercase;
    font-size: 0.75em;
    text-decoration: none;
    font-size: 0px;
}
.hamburger-menu::after {
    content: url(../hamburger.svg);
    width: 24px;
    height: 20px;
}

.hamburger-menu-list {
    position: absolute;
    background-color: var(--prim-orange);
    left: 0;
    top: 1em;
    right: 0;
    padding: 0.5em;
    font-size: 0.8em;
    margin-top: calc(38.8px + 65px);
}

.hamburger-menu--active::after {
    content: url(../cross.svg);
    width: 24px;
    height: 20px;
  }

/* HEADER*/



/* NAVBAR */
.nav-item {
    list-style: none;
    padding: 1em;
    border-bottom: 1px solid var(--prim-white);
}

.nav-item:last-of-type {
    border-bottom: none;
}

.nav-item:hover {
    background-color: rgb(138, 180, 217);
}

.nav-item > a {
    color: var(--prim-white);
    font-weight: 800;
}

.nav-item:hover > a{
    color: var(--prim-darkblue);
}

.navbar__logo{
    display: inline-block;
    color: var(--prim-white);
}

.icon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.icon-box {
    background-color: var(--prim-darkblue);
    padding: 2em;
    border-radius: 50%;
}

.icon-text {
    background-color: var(--prim-white);
    margin: 1em auto;
    max-width: 160px;
    margin-bottom: 2em;
    background-color: inherit;
}