@font-face {
    font-family: Hanken Grotesk;
    src: url(../Fonts/HankenGrotesk-VariableFont_wght.ttf);
}

html {
    font-family: 'Hanken Grotesk', sans-serif;
    --prim-white: #FFFFFF;
    --prim-black: #000000;
    --prim-orange: #F5841F;
    --prim-darkblue: #16213C;
    --sec-lightblue: #8ECAE6;
    --sec-lightblue25: #8ECAE625;
    --sec-lightgray: #F5F5F5;
    --sec-mediumgray: #E7E7E7;
    --sec-darkgray: #D9D9D9;
    font-size: 16px; /* => 16px == 1 em = 1rem */
}

.heading, .text {
    text-align: center;
    list-style: none;
}

.text--orange{
    color: var(--prim-orange);
}

.section__heading {
    color: var(--prim-darkblue);
    font-weight: 800;
    margin: 0 auto;
    padding: 1rem;
    font-size: 2.25rem;
}

.actuality-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: max-content;
}

.actuality-box, .actuality-text {
    text-align: left;
    font-size: .9rem;
    margin-bottom: 0;
}

.actuality-box {
    display: flex;
    gap: 1rem;
    margin: 0 2rem 2rem;
}

.actuality-box > a {
    display: inline-block;
}

.actuality-box > div {
    width: calc(100% - (52px + 1rem));
}

.actuality-text--click {
    padding: 1rem 0;
}

.actuality-text--click:hover {
    color: var(--prim-darkblue);
}

.text--in-frame {
    background-image: url(../icon_text-frame.svg);
    box-sizing: border-box;
    color: var(--sec-lightblue);
    background-repeat: no-repeat;
    width: 52px;
    padding-top: .5rem;
    text-align: center;
}

.actuality-box__heading {
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 0;
}

.main-text {
    font-size: 1.2rem;
}

.section__text {
    margin: 0.75rem 2rem;
}

.section--line-above::before {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--sec-mediumgray);
    border: 0;
}

.section--line-under::after {
    content: "";
    display: block;
    margin-top: 5rem;
    height: 1px;
    background-color: var(--sec-mediumgray);
    border: 0;
}

.section--line-under {
    position: relative;
}

.items-list__text {
    font-size: 1rem;
}

.main-heading {
    font-size: 2.5rem;
    max-width: 400px;
    padding-bottom: .5rem;
}

.text--extrabold {
    font-weight: 800;
}

.text--bold {
    font-weight: 700;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.logo-box a{
    transform: scale(1);
    transition: ease .5s;
}

.logo-box img{
    width: 100%;
}

.logo-box a:hover{
    transform: scale(1.1);
    transition: 1s;
}

.logo-box > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.logo-box--up {
    width: 60%;
    max-width: 400px;
}

.logo-box--down {
    width: 80%;
    max-width: calc((4/3) * 400px);
}

.rating-container {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    gap: 1rem;
    align-items: center;
}

.rating-box {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.rating-box img {
    border-radius: 50%;
    width: 105px;
}

.rating-text {
    text-align: left;
    margin: .75em 0;
}

.name-text {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 800;
}

.job-text {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 0;
}

.picture {
    width: 100%;
    display: block;
}

.picture-box {
    margin: 2rem 2rem 0;
}

.picture-box--full-width {
    margin: 2rem 0 0;
}

.picture--rounded {
    border-radius: 1rem;
}

a {
    text-decoration: none;
    display: block;
    color: var(--prim-black);
}

body{
    background-color: var(--prim-white);
    margin: 0 auto;
}

.section--lightblue {
    background-color: var(--sec-lightblue25);
}

.function-container {
    text-align: center;
    display: flex;
    box-sizing: border-box;
    overflow-x: scroll;
    gap: 2rem;
    margin: 2rem 0;
}

@media (pointer: coarse) /* CSS kód, který se má použít pouze pro dotyková zařízení */{    
    .section--arrow {
        position: relative;
    }
    .section--arrow::after /* dočasná šipka naznačující posun z důvodu, že neumíme ješzě nakódovat karusel*/{
        content: url(../icon_arrow-big.svg);
        width: 24px;
        position: absolute;
        z-index: 2;
        bottom: 90px;
        left: 50%;
        transform: translate(-50%, -50%);
    }   
  }

.function-container > article {
    flex-shrink: 0;
}

.function-box {
    background-color: var(--prim-white);
    max-width: 350px;
    display: inline-block;
    border-radius: .5rem;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    height: 200px;
}

.arrow {
    display: flex; /* mám zde flex, protože mě nenapado, jak jinak vystředit vertikálně šipku */
    justify-content: center;
    align-items: center;
    background-color: var(--prim-orange);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    bottom: -20px;
    left: 32px;
    opacity: 0;
    transition: opacity ease 0.25s /*.25s*/;
}

.function-box:hover .arrow {
    opacity: 1;
    transition: opacity .5s;
  }

.arrow img {
    width: 16px;
    height: 12px;
}

.function-container > article:first-child {
    margin-left: 2rem;
}

.function-container > article:last-child {
    margin-right: 2rem;
}

.function-box > *:not(div) {
    margin: 2rem;
    text-align: left;
}

.function-heading {
    font-size: 1.125rem;
    font-weight: 800;
    color: var(--prim-darkblue);
}

.section {
    padding-bottom: 2rem;
}

.section__subheading {
    margin-top: 0;
    font-weight: 800;
}

.icon_text-bubble {
    position: absolute;
    bottom: 14px;
    width: calc(92px * 0.75);
    height: auto;
    left: 12vw;
    stroke-width: 1px;
    fill: var(--prim-white);
}

/* Footer */

.footer__main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4em 0;
    align-items: center;
}

.footer__footer {
    padding-bottom: 1rem;
}

.footer__footer::before {
    content: "";
    display: block;
    border: solid var(--sec-lightblue) 1px;
    width: 80%;
    margin: 0 auto 1rem;
}

.footer__footer > .footer-text {
    padding: 1rem;
    margin: 0;
    font-size: 0.9rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.footer-box__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-box__items > .footer-text {
    margin: 0;
}

.footer--darkblue {
    background-color: var(--prim-darkblue);
}

.footer-text, .footer-text a {
    color: var(--sec-lightblue);
    margin: 0.75rem;
    align-self: center;
}

.footer-text a:hover {
    color: var(--prim-white);
}

ul.footer-text {
    padding-left: 0;
}

.footer__logo {
    background-image: url(../Logo5footer.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    width: 170px;
    height: 41px;
    display: inline-block;
    transform: scale(1);
    transition: ease 1s;
}

.footer__logo:hover {
    transform: scale(1.1);
    transition: 1s;
}

.footer-box__heading {
    font-size: 1.375rem;
    color: var(--sec-lightblue);
    font-weight: 800;
}

.maker-text {
    margin: 0;
}

.footer-text .maker-text:hover {
    color: var(--prim-orange);
}

/* funkce */

.section--individual-pages {
    margin: 2rem;
}

.function-list-container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.function-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.function-list-btn > img {
    width: 67.5px;
    height: auto;
    transform: scale(1);
    transition: ease .5s;
}

.function-list-btn > img:hover {
    width: 67.5px;
    height: auto;
    transform: scale(1.1);
    transition: 1s;
}

.function-list-text {
    font-size: 1.15rem;
    margin: 1rem 0;
}

a.function-list-text:hover {
    color: var(--prim-orange);
}

.section--individual-pages__subheading {
    font-size: 1.6rem;
    margin-top: 4rem;
}

.section__path-box {
    display: flex;
    gap: .5rem;
    align-items: baseline;
    margin-top: 1rem;
}

.section__path-link {
    font-size: 0.875rem;
    margin: 0;
}

.section__path-link:hover {
    color: var(--prim-orange);
}

.section__path-link--icon_home::before {
    content: url(../icon_home.svg);
    padding-bottom: .4rem;
}

.section__path-link--divider-dot::before {
    content: url(../divider-dot.svg);
}

[class*="section__path-link--"]::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.section--individual-pages__heading {
    font-size: 2.25rem;
    margin-bottom: 0;
    text-align: left;
    padding: 0;
}

.heading--hideden {
    font-size: 0;
    margin: 0;
    padding: 0;
}

.section--mediumgray {
    background-color: var(--sec-mediumgray);
    padding-top: 2rem;
}

.section--lightgray {
    background-color: var(--sec-lightgray);
}

.subheading--left {
    text-align: left;
    padding-left: 0;
}

.feedback-text {
    font-size: 1.2rem;
}

a.feedback-text{
    margin: 2rem;
    font-size: 1.3rem;
    color: var(--prim-darkblue);
}

a.feedback-text:hover {
    color: var(--prim-orange);
}

/* kontakt */

.map {
    height: 245px;
    width: 100%;
}

.contact-list-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.contact-list-text {
    font-size: 1.15rem;
    margin: 1rem 0;
}

@media screen and (max-width: 480px) {
    .contact-list-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}


