@font-face {
    font-family: Hanken Grotesk;
    src: url(../Fonts/HankenGrotesk-VariableFont_wght.ttf);
}

html {
    font-family: 'Hanken Grotesk', sans-serif;
    --prim-white: #FFFFFF;
    --prim-black: #000000;
    --prim-orange: #F5841F;
    --prim-darkblue: #16213C;
    --sec-lightblue: #8ECAE6;
    --sec-lightblue25: #8ECAE625;
    --sec-lightgray: #F5F5F5;
    --sec-mediumgray: #E7E7E7;
    font-size: 16px; /* => 16px == 1 em = 1rem */
}

.heading, .text {
    text-align: center;
}

.section__heading {
    color: var(--prim-darkblue);
    font-weight: 800;
    margin: 0 auto;
    padding: 1em;
    font-size: 2.25em;
}

.icon-text {
    font-weight: 700;
}

.main-text {
    font-size: 1.2em;
}

.section__text {
    margin: 0.75em 2em;
}

.section--line-above::before {
    content: "";
    display: block;
    border: solid var(--sec-mediumgray) 1px;
}

.section--line-under::after {
    content: "";
    display: block;
    margin-top: 6em;
    border: solid var(--sec-mediumgray) 1px;
}

.items-list__text {
    font-size: 1em;
}

.main-heading {
    font-size: 2.5em;
    max-width: 400px;
    padding-bottom: .5em;
}

.text--orange{
    color: var(--prim-orange);
}

.text--extrabold {
    font-weight: 800;
}

.text--bold {
    font-weight: 700;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 2em 0;
}

.logo-box a{
    transform: scale(1);
    transition: ease .5s;
}

.logo-box img{
    width: 100%;
}

.logo-box a:hover{
    transform: scale(1.1);
    transition: 1s;
}

.logo-box > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.logo-box--up {
    width: 60%;
    max-width: 400px;
}

.logo-box--down {
    width: 80%;
    max-width: calc((4/3) * 400px);
}

.rating-container {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    gap: 1em;
    align-items: center;
}

.rating-box {
    display: flex;
    gap: 1em;
    align-items: center;
}

.rating-box img {
    border-radius: 50%;
    width: 105px;
}

.rating-text {
    text-align: left;
    margin: .75em 0;
}

.name-text {
    font-size: 1.2em;
    margin-bottom: 0;
    font-weight: 800;
}

.job-text {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0;
}

.picture {
    width: 100%;
    display: block;
}

.picture-box {
    margin: 2em 2em 0;
}

.picture-box--full-width {
    margin: 2em 0 0;
}

.picture--rounded {
    border-radius: 1em;
}

a {
    text-decoration: none;
    display: block;
}

body{
    background-color: var(--prim-white);
    margin: 0 auto;
}

.section--blue {
    background-color: var(--sec-lightblue25);
    
}

.function-container {
    text-align: center;
    display: flex;
    box-sizing: border-box;
    overflow-x: scroll;
    gap: 2em;
    margin: 2em 0;
}

.function-container > article {
    flex-shrink: 0;
}

.function-box {
    background-color: var(--prim-white);
    max-width: 350px;
    display: inline-block;
    border-radius: .5em;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    flex-shrink: 0;
}

.function-container > article:first-child {
    margin-left: 2em;
}

.function-container > article:last-child {
    margin-right: 2em;
}

.function-text {
    margin: 2em;
    color: var(--prim-black);
}

.section {
    padding-bottom: 2em;
}

.section__subheading {
    margin-top: 0;
    font-weight: 800;
}

.icon-text-bubble {
    position: absolute;
    width: 64px;
    height: auto;
}