@media (min-width: 768px) {
    .navbar__item--top {
        font-size: 0.875rem;
        gap: .5rem;
    }

    [class*="navbar__item--icon_"]::before {
        width: 1rem;
        height: 1rem;
    }

    [class*="navbar__item--icon_"]:hover::before {
        transform: scale(1);
    }

    /*nové menu*/

    .navbar__items--bottom {
        height: 48px;
        padding-inline: 2rem;
    }

    .navbar__items--bottom::before {
        content: none;
    }

    .navbar__item--bottom {
        order: 2;
    }

    .navbar__menu-link {
        color: var(--prim-black);
    }

    .navbar__menu-link:hover {
        color: var(--prim-black);
        background-color: var(--prim-white);
    }

    .navbar__menu-link--underline {
        position: relative;
    }

    .navbar__menu-link--underline:after{
        position: absolute;
        z-index: 1;
        content: "";
        top: 1.2rem;
        left: 50%;
        height: .25rem;
        width: 0;
        background-color: transparent;
        transition: all .2s ease;
    }

    .navbar__menu-link:hover .navbar__menu-link--underline:after{
        width: 100%;
        display: inline-block;
        background-color: var(--prim-orange);
        left: 0;
    }

    .section__container {
        display: grid;
        grid-template-columns: 320px 1fr;
        max-width: 720px;
        margin: 0 auto;
        align-items: center;
    }

    .section__container * {
        text-align: left;
    }

    .items-list {
        padding-left: 2rem;
    }

    .section_main-page__heading {
        grid-column: 1 / span 2;
        max-width: none;
        padding-top: 4rem;
    }

    .section__box {
        padding-bottom: 1rem;
    }

    .picture-box {
        margin: 2rem;
        margin-left: 0;
    }
}