.navbar_items {
    padding: 0.75em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    margin: 0.5em 2em;
    font-size: 14.25px;
    text-align: center;
}

p {
    word-wrap: break-word;
  }

.navbar_items--right {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.navbar_items--left {
    display: flex;
    gap: 1em;
    flex-direction: row;
    align-items: center;
}

.navbar-item--icon_phone::before {
    content: url(./icon_phone.svg);
    position: relative;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}

.navbar-item--icon_email::before {
    content: url(./icon_email.svg);
    position: relative;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}

.navbar-item--icon_profile::before {
    content: url(./icon_profile.svg);
    position: relative;
    font-size: 18px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}


.navbar-item--small {
    display: block;
    font-size: 10.5px;
    color: black;
    font-weight: 700;
}

.navbar_items--grey {
    background-color: #F5F5F5;
    padding: 0.5em 1.5em;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.btn {
    background-color: #f5841f;
    padding: 9px 18px;
    border-radius: 22.5px;
    color: white;
    font-size: 0.75em;
    font-weight: 700;
}

/* hamburger menu */

@media (max-width: 768px) {
    .navbar__menu--hidden {
        display: none;
    }
}
@media (min-width: 768px) {
    .navbar__hamburger {
        display: none;
    }
}

.navbar {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* hamburger menu */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-transform: uppercase;
    font-size: 0.75em;
    text-decoration: none;
}
.hamburger-menu::after {
    content: url(./hamburger.svg);
    width: 24px;
    height: 20px;
}

.hamburger-menu-list {
    position: absolute;
    background-color: #f5841f;
    left: 0;
    right: 0;
    padding: 0.5em;
    font-size: 0.8em;
    margin-top: calc(38.8px + 65px);
}

.hamburger-menu--active::after {
    content: url(./cross.svg);
    width: 24px;
    height: 20px;
  }
  

/* následuje pro menu nedůležitý kód */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
    --bg-color: #FFFFFF;
    --main-color: #EB6C27;
    --white-color:white;
    font-size: 16px; /* => 16px == 1 em = 1rem */
}

.text--orange{
    color: var(--main-color);
}

body{
    background-color: var(--bg-color);
    margin: 0 auto;
}

.nav-item {
    list-style: none;
    padding: 1em;
    border-bottom: 1px solid white;
}

.nav-item:last-of-type {
    border-bottom: none;
}

.nav-item:hover {
    background-color: rgb(138, 180, 217);
}

.nav-item > a {
    color: white;
    font-weight: 800;
}

.nav-item:hover > a{
    color: rgb(0, 10, 54);
}

/* HEADER*/
.header-light{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.7em;
    align-items: center;
    text-align: center;  
    display: block;
}

.header-bold{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    max-width: 350px;
    font-size: 37.5px;
    margin: 1em auto;
    text-align: center; 
}

/* NAVBAR */
.navbar__logo{
    display: inline-block;
    color: var(--white-color);
}

/* SERVICES */
.services-article h2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.services p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.services{
    margin: 0 1.5em;
}